<!DOCTYPE html>
	<head>
		<title>GPIO control</title>
		<link rel="stylesheet" href='../static/style.css/'>
	</head>
	<body>
		<h1>Actuators</h1>
		<h2> Status </h2>
		<h3>	<br> Relay 1  ==> {{rlyOne}}
			<br> Relay 2  ==> {{rlyTwo}}
			<br> Relay 3  ==> {{rlyThree}}
			<br> Relay 4  ==> {{rlyFour}}
		</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			<br>1   --> <a href="/rlyOne/on" class="button">TURN ON</a>
			<a href="/rlyOne/off" class="button">TURN OFF</a>
			<br>2   --> <a href="/rlyTwo/on" class="button">TURN ON</a>
			<a href="/rlyTwo/off" class="button">TURN OFF</a>
			<br>3   --> <a href="/rlyThree/on" class="button">TURN ON</a>
			<a href="/rlyThree/off" class="button">TURN OFF</a>
			<br>4   --> <a href="/rlyFour/on" class="button">TURN ON</a>
			<a href="/rlyFour/off" class="button">TURN OFF</a>
		</h3>
	</body>
</html>
