<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GPIO control</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='../static/style.css/'>
		<!--<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../static/mobile.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" href="../static/mobile.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (min-resolution: 300dpi)" href="../static/mobile.css" type="text/css" /> -->
	</head>
	<body>
		<table>
			<tr>
				<th>Actuator Status</th>
				<th>Zone Control</th>
			</tr>
			<tr>
				<td><br><br>Zone 1  ==> {{zone1}}</td>
				<td><br><br>
					{% if zone1 == 1 %}
						<a href="/zone1/off" class="button_pressed">Turn Off Zone 1</a>
					{% else %}
						<a href="/zone1/on" class="button">Turn On Zone 1</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><br><br>Zone 2  ==> {{zone2}}</td>
				<td><br><br>
					{% if zone2 == 1 %}
						<a href="/zone2/off" class="button_pressed">Turn Off Zone 2</a>
					{% else %}
						<a href="/zone2/on" class="button">Turn On Zone 2</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><br><br>Zone 3  ==> {{zone3}}</td>
				<td><br><br>
					{% if zone3 == 1 %}
						<a href="/zone3/off" class="button_pressed">Turn Off Zone 3</a>
					{% else %}
						<a href="/zone3/on" class="button">Turn On Zone 3</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><br><br>Zone 4  ==> {{zone4}}</td>
				<td><br><br>
					{% if zone4 == 1 %}
						<a href="/zone4/off" class="button_pressed">Turn Off Zone 4</a>
					{% else %}
						<a href="/zone4/on" class="button">Turn On Zone 4</a>
					{% endif %}
				</td>
			</tr>
		</table>
		<br>
		<br>
		<h1>Sensor Status</h1>
		<h2> Last Moisture  ==> NOT YET IMPLEMENTED</h2>
		<!--  This realy wants a DB and i havn't done that yet -->
		<!--  Also likely to be a huge PITA; run wire to each zone -->
		<br>
		<br>
		<!-- NOT YET FULLY IMPLIMENTED -->
		<iframe src="./REWRITE_form.html" height="225" width="100%"></iframe>
	</body>
</html>
